@model Commentaire


<form asp-action="Edit">
    <div class="form-group">
        <input type="text" asp-for="Id" class="form-control" hidden />


        <label asp-for="Auteur">Auteur</label>
        <input type="text" asp-for="Auteur" class="form-control" disabled />
        <span asp-validation-for="Auteur" class="text-danger"></span>

        <label asp-for="Contenu">Contenu</label>
        <textarea asp-for="Contenu" class="form-control" placeholder="Entrez votre contenu"></textarea>
        <span asp-validation-for="Contenu" class="text-danger"></span>


    </div>
    <button class="btn btn-primary">Editer le commentaire</button>
</form>