@model Article


<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Auteur">Auteur</label>
        <input type="text" asp-for="Auteur" class="form-control" placeholder="Entrez votre nom" />
        <span asp-validation-for="Auteur" class="text-danger"></span>

        <label asp-for="Theme">Theme</label>
        <input type="text" asp-for="Theme" class="form-control" placeholder="Entrez le theme" />
        <span asp-validation-for="Theme" class="text-danger"></span>

        <label asp-for="Contenu">Contenu</label>
        <input type="text" asp-for="Contenu" class="form-control" placeholder="Entrez votre contenu" />
        <span asp-validation-for="Contenu" class="text-danger"></span>

        <label asp-for="DateCreation">Date creation</label>
        <input type="datetime" asp-for="DateCreation" class="form-control" value="@DateTime.Now"/>
        <span asp-validation-for="DateCreation" class="text-danger"></span>

        <label asp-for="DateModification">Date creation</label>
        <input type="datetime" asp-for="DateModification" class="form-control" value="@DateTime.Now" />
        <span asp-validation-for="DateModification" class="text-danger"></span>

    </div>
    <button class="btn btn-primary">Poster l'article</button>
</form>