@model Article
@{
    List<Commentaire> commentaires = Model.Comments;
    TempData["articleToComment"] = Model.Id;
}

<div>
    <div>
        <partial name="_displayUnArticle" model="@Model"/> 
    <div>
        <h3>Commentez</h3>
        <a type="button" class="btn btn-primary" asp-controller="Commentaire" asp-action="Create">Ajouter un commentaire</a>
    </div>

    <div>
        <h3>Commentaire</h3>
        @foreach(Commentaire commentaire in commentaires)
        {
            <partial name="_displayUnCommentaire" model="commentaire" />
        }
    </div>
    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-Id="@Model.Id">Editer cet article</a>
    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-Id="@Model.Id">Supprimer cet article</a>

</div>