@model Article
@{
    List<Commentaire> commentaires = Model.Comments;
}

<div>
    <div>
        <h3>@Model.Theme</h3> <h4>Rédigé par @Model.Auteur, le @Model.DateCreation</h4>
    </div>
    <div>
        @Model.Contenu
    </div>
    <div>
        <h3>Commentaire</h3>
        @foreach(Commentaire commentaire in commentaires)
        {
            <partial name="_displayUnCommentaire" model="commentaire" />
        }
    </div>

</div>