@model List<Article>

@foreach (Article article in Model)
{
    <div class="mb-3">
        <partial name="_displayUnArticle" model="article" />
        <a asp-action="Detail" asp-route-Id="@article.Id">Detail</a>
    </div>

}