@model List<Article>
<div class="text-center">
    <h1 class="display-4">Bienvenue WikY, créer des articles et commentez les.</h1>
    <p> Article le plus récent (édition)</p>
    @{
        Article articleLePlusRecent = Model.OrderByDescending(a => a.DateModification).First();
        <partial name="_displayUnArticle" model="articleLePlusRecent" />
    }
</div>
